.mullvadApp {
    /* Existing styles */
    width: 320px;
    height: 550px;
    position: absolute;
    right: 30px;
    bottom: 10px;
    color: rgb(249, 217, 215);
  
    /* New styles for centering button */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.mullvadHeader[data-locked="false"] {
    background: rgb(224, 67, 57);
}

.mullvadHeader[data-locked="true"] {
    background: rgb(68, 173, 77);
}

.mullvadMap[data-locked="true"] {
    background: url("/public/mullvad_locked_map.png");
}

.mullvadConnectButton {
    width: 265px;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    bottom: 2.5%;
}

.mullvadConnectButton[data-locked="true"] {
    background: rgba(146, 56, 62, 0.9);
}

.mullvadMap[data-locked="false"] {
    background: url("/public/mullvad_unlocked_map.png");
}

.mullvadConnectButton[data-locked="false"] {
    background: rgba(65, 164, 80, 0.9);
}