.vsc {
    --bg0: rgb(19, 22, 29);
    --bg1: #f7fafc;
    --ipbar: #fefefe;
    --shd: rgba(80, 80, 80, 0.2);
    --txt: rgb(215, 217, 221);
    background: var(--bg0);
}

.vsc-toolbar-text {
    color: var(--txt);
    font-family: 'Segoe UI' !important;
}

.vsc-toolbar-text:hover {
    background: rgb(43, 55, 66);
    border-radius: 5px;
}

.workspaceItemText {
    color: rgb(244, 244, 245);
}

.explorerItemText {
    color: rgb(244, 244, 245);
}

.explorerItemText:hover {
    background: rgb(43, 55, 66);
}

.editorHeader {
    background: rgb(31, 36, 48);
}